@import url('https://fonts.googleapis.com/css?family=Oxygen:400,700&display=swap');

body {
  font-family: Oxygen, Helvetica, -apple-system, sans-serif;
}

h4 {
  font-weight: 700;
  font-size: 12px;
  line-height: 26px;
  letter-spacing: 6px;
  color: var(--rose);
}

h3 {
  font-weight: 500;
  font-size: 45px;
  line-height: 67px;
  text-align: center;
}
