:root {
  --black: #30233D;
  --rose: #F61067;
  --rose-rgb-color: 246, 16, 103;
  --header-color: #F4F4ED;
  --service-color: #FCFCFC;
  --green: #00F0B5;
  --green-rgb-color: 0, 240, 181;
  --purple: #5E239D;
  --subscribe-color: #776C82;
  --input-color: #9B94A3;
  --orange-color: #F67110;
  --orange-rgb-color: 246, 113, 16;
  --grey: #776C82;
  --button-bg-color: linear-gradient(0deg, rgba(242, 242, 242, 0.5) 0%, rgba(255, 255, 255, 0) 100%);
  --footer-bg-color: #150433;
}
