:root {
  --black: #30233D;
  --rose: #F61067;
  --header-color: #F4F4ED;
  --service-color: #FCFCFC;
  --green: #00F0B5;
  --purple: #5E239D;
  --subscribe-color: #776C82;
  --input-color: #9B94A3;
  --chopping-bg-color: rgba(0, 240, 181, 0.1);
  --chopping-border-color: rgba(0, 240, 181, 0.25);
}
